*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.header-heading {
  text-align: center;
  color: #d04f4f;
}
/***************************************************/
/****************** SEARCH SECTION *****************/
/***************************************************/
#search-section {
  position: relative;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

#search-input {
  width: 100%;
  height: 69px;
  display: block;
  margin: 0 auto;
  padding-left: 25px;
  border: none;
  border-radius: 5px;
  background-color: #e7e7e7;
  font-size: 18px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

#search-icon {
  position: absolute;
  display: block;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 32px;
  width: 32px;
  font-size: 32px;
  color: #333;
}

#recipe-cards-container {
  margin: 25px auto;
  width: 90%;
  max-width: 1150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

#error-message-recipes {
  display: none;
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  color: #d04f4f;
}

@media screen and (max-width: 768px) {
  #search-section,
  #recipe-cards-container {
    width: 95%;
  }
}

/**************************************************/
/*********************** RECIPES ******************/
/**************************************************/
#recipe-cards-container {
  margin: 25px auto;
  width: 90%;
  max-width: 1150px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

@media screen and (max-width: 768px) {
  #search-section,
  #recipe-cards-container {
    width: 95%;
  }
}

.recipe-card {
  width: 350px;
  height: 350px;
  background-color: #e7e7e7;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.recipe-card:hover {
  box-shadow: 3px 3px 5px 1px gray;
}

.recipe-card-image-container {
  height: 175px;
  background-color: #c7bebe;
}

.recipe-card-details {
  height: 175px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.recipe-card-name {
  width: 70%;
  height: 30%;
  padding: 5px;
}

.recipe-card-time {
  width: 30%;
  height: 30%;
  padding: 5px;
  text-align: right;
  font-weight: bold;
}

.recipe-card-description {
  height: 70%;
  width: 50%;
  font-size: 10px;
  overflow-y: scroll;
  padding: 5px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.recipe-card-ingredients-list {
  list-style-type: none;
  font-size: 10px;
  width: 50%;
  height: 70%;
  overflow-y: scroll;
  padding: 5px;
}

.recipe-card-ingredients-list::-webkit-scrollbar,
.recipe-card-description::-webkit-scrollbar {
  display: none;
}

.recipe-card-ingredients-list-item span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .recipe-card {
    height: auto;
  }

  .recipe-card-details {
    height: auto;
    gap: 15px;
  }

  .recipe-card-name {
    width: 100%;
    text-align: center;
  }

  .recipe-card-time {
    width: 100%;
    text-align: center;
  }

  .recipe-card-ingredients-list {
    width: 100%;
  }

  .recipe-card-description {
    width: 100%;
  }
}
